    <section class="about-section section-center" id="about">
      <div class="about-center viewport-aware-centering">
        <div class="about-content-container">
          <div class="about-image-container">
            <img src="/images/About-me-S.png" alt="Sebastian" class="about-photo">
          </div>
          <p class="about-text font-body">
            I’m a Graphic Designer with more than 12 years’ experience, based in Buenos Aires, Argentina.<br><br>
            I‘m a specialist in Packaging and Label design, although I’m experienced in branding identity & digital illustration and I often combine them together to create unique products that look good and sell.
          </p>
        </div>
        <p class="about-nav-text font-body-italic">
          Have some questions?
        </p>
        <button class="about-lets-talk-btn lets-talk-btn font-btn">Let's talk</button>
        <a href="/#works" class="about-view-work link-bold">View Work  <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </section>