	<footer class="footer-section section-center" id="footer">
		<section class="footer-contact-section" id="footer-contact">
			<div class="footer-contact-center viewport-aware-centering">
				<!-- contact form -->
				<div class="contact-form-container">
					<p class="footer-header font-header">
						I’m here to help.<br>
						Let’s collaborate!
					</p>
					<p class="contact-form-text font-body-italic">
						All fields required (*)
					</p>
					<form method="POST" action="/send" class="footer-contact-form" id="contact">
						<div class="form-row">
							<input type="text" class="form-input font-body-italic" name="formName" placeholder="Your name"/>
						</div>
						<div class="form-row">
							<input type="text" class="form-input font-body-italic" name="formEmail" placeholder="your@email.com"/>
						</div>
						<div class="form-row">
				        <textarea class="form-textarea font-body-italic" name="formMessage">Your message</textarea>
				      </div>
				      <button type="submit" class="footer-form-btn btn font-btn">Send</button>
					</form>
				</div>
				<!-- end of contact form -->
			</div>
		</section>
		<section class="footer-footer-section">
			<div class="footer-footer-center viewport-aware-centering">
				<!-- social icons -->
				<div class="footer-social-icons">
					<a href="https://linkedin.com/in/sebastian-rubio-graphicdesign" class="footer-social-icon"><i class="fab fa-linkedin"></i></a>
					<a href="https://behance.net/sebastianrubiodesign" class="footer-social-icon"><i class="fab fa-behance"></i></a>
				</div>
				<!-- end of social icons -->
				<!-- footer links -->
				<ul class="footer-links font-footer-item">
					<li><a class="info-link" href="/#about">About</a></li>
	            <li><a class="works-link" href="/#works">works</a></li>
	            <li><a class="services-link" href="/#services">Services</a></li>
	            <li><a class="reviews-link" href="/#reviews">Reviews</a></li>
	            <li><a class="faq-link" href="/#faq">FAQ</a></li>
				</ul>
				<!-- end of footer links -->
				<p class="footer-footer-text font-body-italic">
					Want some great responsive websites?
				</p>
				<a href="https://github.com/ivan-va" class="footer-footer-ivan-vassin-web-design-text font-footer-item">
						Web Design & Development by Ivan Vassin
				</a>
				<p class="footer-copyright-text font-footer-item">ⓒ Copyright&nbsp<span id="date">2023</span>. Sebastian Rubio and Ivan Vassin</p>
				<div class="footer-footer-thank-you-container">
					<p class="footer-footer-thank-you-text font-body-italic">
						Thank you!
					</p>
					<div class="footer-footer-image-container">
						<img src="/images/footer-face.png" alt="smiling face" class="footer-footer-face-image">
					</div>
				</div>
			</div>
		</section>
		<script src="../footer.js"></script>
	</footer>
</html>