<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sebastian Rubio</title>
    <link rel="icon" href="/images/favicon.ico">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;0,800;1,300;1,600&display=swap" rel="stylesheet">
    <!-- normalize -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="/css/fontawesome-free-6.2-1.0-web/css/all.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- navbar -->
    <nav class="nav" id="nav">
      <div class="nav-center section-center">
        <div class="nav-header">
          <div class="logo-container">
            <div class="logo-avatar-container">
              <img src="/images/avatar2023-1080px-5.png" alt="avatar pic" class="logo-avatar-photo">
            </div>
            <p class="logo-text font-nav-logo">Sebastian Rubio</p>
          </div>
          <button class="nav-btn" id="nav-btn"><i class="fa-solid fa-bars"></i></button>
           <ul class="nav-links font-navbar-menu-header">
              <li><a class="about-link" href="/#about">about</a></li>
              <li><a class="works-link" href="/#works">Works</a></li>
              <li><a class="services-link" href="/#services">Services</a></li>
              <li><a class="reviews-link" href="/#reviews">Reviews</a></li>
              <li><a class="faq-link" href="/#faq">FAQ</a></li>
            </ul>
            <button class="nav-lets-talk-btn lets-talk-btn font-btn">Let's talk</button>
          </div>
        </div>
      <!-- end of navbar -->
      <!-- sidebar -->
    <aside class="sidebar" id="sidebar">
      <div class="sidebar-header">
        <div class="logo-avatar-container">
            <img src="/images/avatar2023-1080px-5.png" alt="avatar pic" class="logo-avatar-photo">
          </div>
          <p class="logo-text font-nav-logo">Sebastian Rubio</p>
        </div>
        <button class="sidebar-close-btn" id="sidebar-close-btn"><i class="fa-solid fa-arrow-left"></i></button>
      </div>
      <!-- sidebar-menu -->
      <div class="sidebar-menu">
        <!-- sidebar-links -->
        <button class="lets-talk-btn sidebar-lets-talk-btn">Let's talk</button>
        <ul class="sidebar-links font-sidebar-body">
            <li><a class="about-link sidebar-link" href="/#about">about</a></li>
            <li><a class="works-link sidebar-link" href="/#works">works</a></li>
            <li><a class="services-link sidebar-link" href="/#services">Services</a></li>
            <li><a class="reviews-link sidebar-link" href="/#reviews">Reviews</a></li>
            <li><a class="faq-link sidebar-link" href="/#faq">FAQ</a></li>
        </ul>
        <!-- end of sidebar links -->
        <!-- social icons -->
        <ul class="sidebar-social-icons">
          <li>
            <a href="https://linkedin.com/in/sebastian-rubio-graphicdesign" class="social-icon"><i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://behance.net/sebastianrubiodesign" class="social-icon"><i class="fab fa-behance"></i></a>
          </li>
        </ul>
        <!-- end of social icons -->
        <!-- end of sidebar-links -->
      </div>
      <!-- end of sidebar-menu -->
    </aside>
    <!-- end of sidebar -->
    </nav>
    <script src="../nav.js"></script>
  </head>