<article class="carousel hero-carousel">
  <div class="carousel-text-container hero-carousel-text-container">
    <p class="carousel-text hero-carousel-text">
      I help clients around the world create fine crafted packaging and product identities.
    </p>
  </div>
  <button class="carousel-lets-talk-btn hero-carousel-lets-talk-btn lets-talk-btn font-btn">Let's talk</button>
  <div class="carousel-controls-container hero-carousel-controls-container">
    <div class="carousel-arrow-btn carousel-arrow-btn-left hero-carousel-arrow-btn hero-carousel-arrow-btn-left">
      <div class="carousel-arrow hero-carousel-arrow">
        <p><i class="fa-solid fa-arrow-left"></i></p>
      </div>
    </div>
    <div class="carousel-arrow-btn hero-carousel-arrow-btn">
      <div class="carousel-arrow carousel-arrow-btn-right hero-carousel-arrow hero-carousel-arrow-btn-right">
        <p><i class="fa-solid fa-arrow-right"></i></p>
      </div>
    </div>
  </div>
  <!-- conveyor -->
  <div class="carousel-conveyor hero-carousel-conveyor">
    <!-- single frame -->
    <div class="carousel-frame hero-carousel-frame">
      <div class="hero-carousel-frame-image-container">
        <img src="/images/samples/Mediterranean-C-V4-A4.png" alt="limoncello packaging sample" class="carousel-photo hero-carousel-photo img">
      </div>
    </div>
    <!-- end of single frame -->
    <!-- single frame -->
    <div class="carousel-frame hero-carousel-frame">
      <div class="hero-carousel-frame-image-container">
        <img src="/images/samples/Mediterranean-C-V4-A4.png" alt="coconut water packaging sample" class="carousel-photo hero-carousel-photo img">
      </div>
    </div>
    <!-- end of single frame -->
    <!-- single frame -->
    <div class="carousel-frame hero-carousel-frame">
      <div class="hero-carousel-frame-image-container">
        <img src="/images/samples/Isolano-V4-A2.png" alt="coconut water packaging sample" class="carousel-photo hero-carousel-photo img">
      </div>
    </div>
    <!-- end of single frame -->
    <!-- single frame -->
    <div class="carousel-frame hero-carousel-frame">
      <div class="hero-carousel-frame-image-container">
        <img src="/images/samples/wildly-crafted-offshore-Gin-Palm-Trees-1700x1700.png" alt="coconut water packaging sample" class="carousel-photo hero-carousel-photo img">
      </div>
    </div>
    <!-- end of single frame -->
    <!-- single frame -->
    <div class="carousel-frame hero-carousel-frame">
      <div class="hero-carousel-frame-image-container">
        <img src="/images/samples/Zalerance-Zenom.png" alt="coconut water packaging sample" class="carousel-photo hero-carousel-photo img">
      </div>
    </div>
    <!-- end of single frame -->
    <!-- single frame -->
    <div class="carousel-frame hero-carousel-frame">
      <div class="hero-carousel-frame-image-container">
        <img src="/images/samples/Zalerance-Zenom.png" alt="coconut water packaging sample" class="carousel-photo hero-carousel-photo img">
      </div>
    </div>
    <!-- end of single frame -->
  </div>
</article>
<!-- end of conveyor -->