<%- include('partials/header'); -%>

<body>
	<section class="contact-response-section section-center">
		<div class="contact-response-center viewport-aware-centering">
			<p class="contact-response-icon"><i class="fa-solid fa-envelope-circle-check"></i></p>
			<p class="contact-response-header font-header"><%= msg %></p>
			<a href="/" class="contact-response-click-here font-header">Click here</a>
			<p class="contact-response-text font-header">to continue browsing the website</p>
		</div>
	</section>
</body>