<!-- this is non-functional, because I can't make the history.back() script work, as it it an inline script, and it shouldn't be used -->

<%- include('partials/header'); -%>

<body>
	<section class="contact-response-section section-center">
		<div class="contact-response-center viewport-aware-centering">
			<p class="contact-response-icon"><i class="fa-solid fa-circle-exclamation"></i></p>
			<p class="contact-response-header font-header"><%= msg %></p>
			<a href="/#footer-contact" class="contact-response-click-here font-header">Click here</a>
			<p class="contact-response-text font-header">to return to the contact form.</p>
		</div>
	</section>
</body>