<p class="reviews-header font-header">
  Folks think I'm cool
</p>
<!-- header stars container -->
<div class="reviews-header-stars">
  <% for(let i=0; i<5; i++) { %>
    <!-- single header star -->
    <div class="reviews-header-star-image-container">
      <img src="/images/red-star.png" alt="star" class="red-star">
    </div>
    <!-- end of single header star -->
  <% } %>
</div>
<!-- end of header stars container -->
<p class="reviews-header-text font-body-italic">
  5.0 stars from 56 reviews
</p>

<% for(let i=0; i<reviewItems.length; i++) { %>
<!-- single review -->
<div class="reviews-review">
  <div class="review-separator"></div>
  <div class="review-header-container">
    <div class="review-image-container">
      <img src="<%= reviewItems[i].avatar %>" alt="face" class="review-face">
    </div>
    <div class="review-stars">
      <% for(let i=0; i<5; i++) { %>
        <!-- single review star -->
        <div class="review-star-image-container">
          <img src="/images/white-star.png" alt="star" class="review-white-star">
        </div>
        <!-- end of single review star -->
      <% } %>
    </div>
  </div>
  <p class="review-text font-body-italic">
    <!-- `-` instead of `=`. Otherwise, <br> won't be respected. -->
    <%- reviewItems[i].text %>
  </p>
</div>
<!-- end of single review -->
<% } %>
<div class="review-separator reviews-bottom-separator"></div>
<!--   <a href="#" class="reviews-read-more link-bold">
    Read More  <i class="fa-solid fa-arrow-right"></i>
  </a> -->
  <p class="reviews-nav-text font-body-italic">Decided yet?</p>
  <button class="reviews-lets-talk-btn lets-talk-btn font-btn">Let's talk</button>
</div>